.title-center {
  
  justify-content: center; /* align horizontal */
  align-items: center;
  font-size: 1.7em;
}

.example-label-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 0;
  max-width: 284px;
}
