
<body>

  <div class="container">
    <mat-card>
      <mat-card-header >
        <mat-card-title class="title-center"> Oylik Kalkulatori</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <mat-card class="mat-elevation-z0 outline">
          <mat-card-header>
            <mat-card-title>Lavozim/darajangizni tanlang</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Lavozim/Daraja</mat-label>
              <mat-select [(value)]="daraja">
                
                <mat-option value="option1">Professor</mat-option>
                <mat-option value="option2">Dotsent</mat-option>
                <mat-option value="option3">Katta O'qituvchi</mat-option>
                <mat-option value="option4">O'qituvchi</mat-option>
                <mat-option value="option5">Assistent</mat-option>
              </mat-select>
            </mat-form-field>

          </mat-card-content>
        </mat-card>




        <mat-card class="mat-elevation-z0 outline">
          <mat-card-header>
            <mat-card-title>Tamomlagan OTMingizni reytingini tanlang</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>OTM reytingini tanlang</mat-label>
              <mat-select [(value)]="univerReyting">
             
                <mat-option value="top100">TOP-100</mat-option>
                <mat-option value="top300">TOP-300</mat-option>
                <mat-option value="top500">TOP-500</mat-option>
                <mat-option value="top1000">TOP-1000</mat-option>
                <mat-option value="top1000+">TOP-1000+</mat-option>

              </mat-select>
            </mat-form-field>

          </mat-card-content>

        </mat-card>

        <mat-card class="mat-elevation-z0 outline">
          <mat-card-header>
            <mat-card-title>
              <div>
                <div>
                  Rektor tomonidan tayinlangan ustama
                </div>
                <div>
                  {{ustama}}%
                </div>
            
              </div>
            </mat-card-title>

          </mat-card-header>
          <mat-card-content>
            
            <mat-slider min="0" max="100" step="5" showTickMarks  thumblabel discrete [disabled]="daraja==='option0'"
                        style="width: 100%" (change)="updateUstama($event)" [value]="ustama">
              <input matSliderThumb >
            </mat-slider>
        
          </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z0 outline">
          <mat-card-header>
            <mat-card-title>
              <div>
                <div>
                  KPIni tanlang
                </div>
                <div>
                  {{kpi}}%
                </div>

              </div>
              
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <mat-slider min="0" max="250" step="1" showTickMarks thumblabel discrete [disabled]="daraja==='option0'"
                        style="width: 100%" (change)="updateKpi($event)" [value]="kpi">
              <input matSliderThumb>
            </mat-slider>
              
          </mat-card-content>
        </mat-card>
      </mat-card-content>

      <mat-card-actions>
        
        <button mat-raised-button color="primary" [disabled]="daraja==='option0'" (click)="Calculate()">Hisoblash</button>

      </mat-card-actions>

      <mat-card-footer >
        <mat-card>
          <mat-card-content>
            <h5>Hisoblangan oylik miqdori</h5>
            <h2>{{summa | number:'1.0-0' }} so'm </h2>
          </mat-card-content>
        </mat-card>
      </mat-card-footer>

    </mat-card>

    
  </div>

</body>







